<section class="home">
  <div class="blue-overlay">
    <div class="container">
      <div>
        <%= link_to image_tag('foldesk-logo.svg'), root_url, class: 'foldesk-logo' %>
        <button class="button-blog">Blog</button>
      </div>
      
      <div class="heading">
        <h1><span>UNFOLD</span> YOUR KNOWLEDGE</h1>
        <p class="sub-heading">YOU ALL ARE GREAT IN SOMETHING, BUT YOUR KNOWLEDGE HAS NOT BEEN SHARED YET. HELP THE WORLD AND <span>CONTRIBUTE!</span> FOLDESK ALLOWS YOU TO DO IT IN THE EASIEST WAY POSSIBLE</p>
        <p class="release-date">FOLDESK LAUNCHES THIS WINTER !!</p>
      </div>

      <div class="notify-me">
        <input></input>
        <button>NOTIFY ME</button>
      </div>

    </div>

    <div class="learn-more">
      <p>LEARN MORE</p>
      <p><i class="fa fa-sort-desc"></i></p>
    </div>

  </div>
</section>

<section class="our-philosophy">
  <div class="container">
    <div class="content">
      <h2>OUR PHILOSOPHY</h2>
      <span></span>
      <p>Everyone is a source of information which has not been shared yet. Information is not something steady and given. It is instead a process of autoproduction which, just through Foldesk, should reach what it really is. The truth is the whole, but the whole is complete just with its development and evolution.</p>
      <button class="manifesto">MANIFESTO</button>
    </div>
  </div>
</section>

<section class="follow-blog">
  <div class="container">
    <p>Follow our <span>blog</span> to see what we are up to at foldesk.</p>
  </div>
</section>

