.follow-blog {
  background: #e5e5e5;

  .content {
    @include span-columns( 10 of 12, inline-block );
    @include shift( 1 );

    margin-top: 72px;
    margin-bottom: 72px;
    
    p {
      font-family: "HelveticaNeue-light";
      font-size: 30px;
      letter-spacing: 1px;
      color: #9b9b9b;
      text-align: center;

      span {
        a { color: $foldesk-blue; }
      }
    }
  }
}
