.home {
  background: url(background.jpg) no-repeat center scroll;
  height: 1025px;
  width: 100%;
  position: relative;
  
  .blue-overlay {
    background: rgba(66, 194, 240, .91);
    height: 100%;
    width: 100%;
  }
}

.foldesk-logo {
  position: absolute;
  top: 50px;
  left: 50px;
  img { height: 92px; }
}

button.button-blog {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 30px;
  width: 75px;

  background: rgba(255, 255, 255, .28);
  border: 1px solid rgba(255, 255, 255, .58);

  font-family: "HelveticaNeue-light";
  font-size: 15px;
  font-weight: light;
  letter-spacing: 1px;
  
  a { 
    color: white; 
    text-decoration: none;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

button.button-blog:hover {
  background: rgba(255, 255, 255, .42);
}

button.button-blog:active {
  background: rgba(255, 255, 255, 1);
  a { color: $foldesk-blue; }
}

// Heading and sub-heading ////////////////////////////////////////////////////

.heading {
  @include span-columns( 8 of 12, inline-block );
  @include shift( 2 );
  margin-top: 310px;

  h1 {
    font-family: "HelveticaNeue-condensedbold";
    font-size: 60px;
    color: white;
    text-align: center;
    
    span {
      border-bottom: 3px solid white;
      text-decoration: underline;

    }
  }

  p.sub-heading {
    font-family: "HelveticaNeue-thin";
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    line-height: 30px;

    margin-top: 15px;

    span {
      font-family: "HelveticaNeue-bold";
    }
  }

  p.release-date {
      font-family: "HelveticaNeue-thin";
      color: white;
      background: rgba(55, 55, 55, .70);
      letter-spacing: 1px;
      font-size: 15px;
      display: inline-block;
      text-align: center;

      @include span-columns( 4 of 8, inline-block );
      @include shift( 2 );
      margin-top: 15px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
}

// Notify Me //////////////////////////////////////////////////////////////////

.notify-me {
  width: 652px;
  margin: 0 auto;
  
  input {
    width: 490px;
    height: 50px;

    margin-top: 160px;

    background: rgba(255, 255, 255, .60);
    border-right: 2px solid rgba(66, 194, 240, .91);
    color: $secondary-blue;
    font-family: "HelveticaNeue-light";
    font-size: 21px;
    padding: 20px;
  }

  input:focus {
    background: rgba(255, 255, 255, .85);
    border-right: 2px solid rgba(66, 194, 240, .91);
  }

  ::-webkit-input-placeholder {
   color: rgba(75, 153, 177, .30);
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(75, 153, 177, .30);  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(75, 153, 177, .30);  
  }

  :-ms-input-placeholder {  
     color: rgba(75, 153, 177, .30);  
  }

  button {
    position: absolute;
    height: 50px;
    width: 135px;

    margin-top: 160px;

    background: white;
    color: $foldesk-blue;
    font-family: "HelveticaNeue-medium";
    font-size: 14px;
  }

  button:hover {
    background: #f8f8f8;
  }

  button:active {
    background: #f1f1f1;
  }

}


// Learn more /////////////////////////////////////////////////////////////////

.learn-more {
  width: 100%;
  position: absolute;
  bottom: 20px;
    
  p {
    font-size: 15px;
    font-family: "HelveticaNeue-light";
    text-align: center;
    letter-spacing: 1px;
    color: white;

    margin-top: -6px;

    i {
      font-size: 20px;
    }
  }
}


























